{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "ignore": [
    "node_modules",
    "dist",
    "src",
    "bin",
    ".git",
    ".idea"
  ],
  "overrides": [
    {
      "test": "\\.mjs$",
      "sourceType": "module",
      "parserOpts": {
        "sourceType": "module"
      },
      "generatorOpts": {
        "filename": "[name].js"
      }
    }
  ]
}
